/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom right, #99cdd8, #f3c3b2);
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container,
.date-container,
.input-container,
.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  /* background-color: #99cdd8; */
  justify-content: flex-start;
  gap: 20px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 4rem;
}

h1 {
  font-size: 28px;
  font-weight: 600;
  color: #0d0d0d;
  letter-spacing: -0.8px;
}

.date-container {
  align-self: flex-end;
  align-items: flex-end;
  font-family: "Public Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.4;
  padding: 1rem;
}

.input-container {
  margin-bottom: 2rem;
  padding: 1rem 0;
  width: 100%;
}

input {
  border: 1px solid #2d4354;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(45, 67, 84, 0.4);
  font-family: inherit;
  font-size: 22px;
  outline: none;
  margin-bottom: 20px;
  padding: 5px 10px;
  width: 90%;
}

input:focus {
  border: 1px solid #e57734;
}

.btn {
  cursor: pointer;
  background-color: #fff;
  color: #2d4354;
  border: 1px solid #2d4354;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(45, 67, 84, 0.4);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  padding: 5px 10px;
  outline: none;
  transition: all 0.2s ease-out;
}

.btn:hover {
  color: #e57734;
  box-shadow: 0px 3px 4px rgba(45, 67, 84, 0.4);
  transform: translateY(-1px) scale(1.02);
}

.btn:focus,
.btn:active {
  color: #e57734;
  transform: translateY(1px);
  box-shadow: 0px 2px 2px rgba(45, 67, 84, 0.4);
}

.results-container {
  background-color: #e7f0fe;
  border: 1px solid #2d4354;
  box-shadow: 0px 2px 2px rgba(45, 67, 84, 0.4);
  border-radius: 12px;
  /* color: #2d4354; */
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  padding: 2rem;
  width: 80%;
}

.results-container h2 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.results-container p {
  align-self: flex-start;

  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.8;
}
